<section class="users">
  <div class="container">
    <div class="row">
      <!-- user list -->
      <div class="users-list my-5">
        <h3>Users List</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore

        </p>
      </div>
    </div>

    <!-- spinner -->
    <div class="text-center w-100 pb-5" *ngIf="loading">
      <app-spinner></app-spinner>
    </div>
    <!-- usercontainer -->
    <div class="row box-container pt-5 px-4 bg-white " >
      <div class="bg-white pt-5" *ngIf="!loading">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="pb-4 col-2">photo</th>
              <th class="pb-4 col-3">First name</th>
              <th class="pb-4 col-3">Last name</th>
              <th class="pb-4 col-3">e-mail</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let user of users
                  | paginate
                    : {
                        itemsPerPage: 6,
                        totalItems: totalUsers,
                        currentPage: p,

                      }
              "
            >
              <th>
                <img
                  [src]="user.avatar"
                  class="w-25 rounded rounded-circle"
                  alt=""
                />
              </th>
              <td class="title pt-3">{{ user.first_name }}</td>
              <td class="title pt-3">{{ user.last_name }}</td>
              <td class="email pt-3">{{ user.email }}</td>
              <td>
                <a
                  href="mailto:{{ user.email }}"
                  class="button d-flex justify-content-center align-items-center text-decoration-none"
                >
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M3.67124 20.4L21.1212 12.92C21.9312 12.57 21.9312 11.43 21.1212 11.08L3.67124 3.6C3.01124 3.31 2.28124 3.8 2.28124 4.51L2.27124 9.12C2.27124 9.62 2.64124 10.05 3.14124 10.11L17.2712 12L3.14124 13.88C2.64124 13.95 2.27124 14.38 2.27124 14.88L2.28124 19.49C2.28124 20.2 3.01124 20.69 3.67124 20.4Z"
                      fill="white"
                    />
                  </svg>
                  <span class="ps-1">Send Email</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="py-4 px-lg-5 d-flex justify-content-between">
          <p class="title">1-10 of 195 items</p>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
